/* set height of the whole page */
html, body, .wholepage {
    min-height: 100% !important;
    height: 100%;
}

body{ 
    font: 14px sans-serif; 
    text-align: center; 
    font-family: 'Montserrat';
    font-weight: 400;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400; /** 300 didnt work either **/
}

.wholepage:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}

.leftcolumn {
    float: left;
    width: 20%;
    padding-top: 250px;
    height:100%;
    position: fixed;
    background-color: #9fc8d0;
    color: #323a3a;
}

.leftcolumn:hover {
    background-color: #78b7c4;
}

.leftcolumntext {
    width: 100%;
    display: block;
}

.rightcolumn {
    float: left;
    width: 80%;
    margin-left: 20%;
}

.displayLyrics {
    margin-top: 30px;
}

.heading {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control{ 
    text-align: center; 
    width: 50% 
}

.center {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;  
} 

.feelingButton {
    background-color: #e0e0e0;
    border: none;
    color: #353535;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.feelingButton:hover {
    background-color: #b3b2b2;
}

.lyricbox {
    background-color: #e0e0e0;
    border: none;
    color: #353535;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.lyricbox:hover {
    background-color: #b3b2b2;
}

.secondlyricline {
    display: block;    
    padding-top: 5px; 
}

input {
    line-height: 50px;
    padding-left: 5px;
    width: 60%;
}

.customLyric {
    margin-bottom: 15px;
}
.customLyricbox {
    background-color: #e0e0e0;
    border: none;
    color: #353535;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding-top: 19px;
    padding-bottom: 19px;
}

.customLyricbox:hover {
    background-color: #b3b2b2;
}

.button-control {
    background-color: #e0e0e0;
    border: none;
    color: #353535;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-control:hover {
    background-color: #b3b2b2;
}

.playback {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


